body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding-medium {
  padding: 20px;
}

.m-r {
  margin-right: 10px;
}

.movies-container {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
}

.movies-container::after {
  content: "";
  flex: auto;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 15em;
}